
		body { 
			background-color: #85E0FF;
			font-family: 'Tulpen One', cursive;
	}
		h1{
			color:#660066;

			font-family: 'Tulpen One', cursive;
	}
	  
	 	header {
		    background-color:#0052CC;
		    color:#CC9900;
		    text-align:left;
		    padding:4px;
		    font-family: 'Tulpen One', cursive;
		    font-size: 70px

	}
		nav {
			background-color:#CC9900;
		    color:#FFFFFF;
		    font-family: 'Tulpen One', cursive;
		    font-size: 40px;
		    text-align: center;
		    text-indent: ;

	}
	
	p {
		font-size: 15px;
		font-family: helvetica;
		text-align: left;

	}
    
		#section {
    width:350px;
    float:center;
    padding:15px; 

}
	
	section{
		float: center;
		}


		footer {
		    background-color:#0052CC;
		    color:#CC9900;
		    font-family:'Raleway',sans-serif, 50px;
		    clear:both;
		    text-align:center;
		    font-family: 'Tulpen One', cursive;
		    padding:5px; 
		     font-size: 30px
	}
	}

		#horizontal .slides {
				border: solid 10px #660066;
				width: 600px;
				height: 300px;
				overflow:hidden;

				margin: 15px auto;
			}
			#horizontal .slides .drawer {
				/*border:solid 2px blue;*/
				width: 3000px;
			}
			#horizontal .slides .drawer img{
				float:left;
			}
			